@font-face {
    font-family: Poppins;
    src: local('Poppins'), url('../fonts/Poppins-Regular.ttf') format("truetype");
    font-weight: 400;
}
body{
    font-family: 'Poppins';
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
    transition: 500ms;
}
a:hover{
 color: red;
 transition: 500ms;
}
header{
    height: 66px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: white;
}
.section1__Full{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    align-items: center;
    width: 1440px;
}
.section1__nav2 a{
    font-size: 15px;
    margin-right: 20px;
}
.section1__nav2 a:last-child{
    font-size: 15px;
    margin-right: 0px;
}
.section1__nav1{
    margin-left: 7%;
}
.section1__nav2{
    flex-grow: 1;
    display: flex;
    justify-content: end;
    margin-right: 8%;
}
.section1__CONTENT{
    background: url('../img/Sec1__BG2.png') center center no-repeat;
    width: 1440px;
    height: 797px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section1__CONTENT p{
    color: #45525B;
    font-size: 32px;
}
.section1__img1{
    margin-bottom: 10px;
    margin-top: 250px;
}
.section1__circle{
    height: 64px;
    width: 64px;
    background: none;
    border-radius: 100%;
    border: solid 2px #3A4443;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}



.section2{
    height: 486px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFC;
}
.section2__FULL{
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2__contLeft{
    display: flex;
    flex-direction: column;
    margin-right: 150px;
}
.section2__contRight p{
    width: 561px;
    font-size: 16px;
    color: #333333;
}
.section2__contRight{
    display: flex;
    flex-direction: column;
    width: 561px;
}
.section2__contLeft p:first-child{
    font-size: 14px;
    color: #FF8A63;
}
.section2__contLeft p:last-child{
    color: #45525B;
    font-size: 48px;
}
#section2__SPECtext2{
    font-size: 16px;
    color: #45525B;
}
#section2__SPECtext{
    font-size: 12px;
    color: #6F7278;
}
.section2__cont{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.section2__SPECtext3{
    margin-bottom: 10px;
}
.sectio2__circle{
    margin-right: 10px;
}



.section3{
    height: 931px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3__FULL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
}
.s3__text1{
    font-size: 14px;
    color: #FF8A63;
}
.s3__text2{
    color: #45525B;
    font-size: 36px;
    margin-bottom: 5px;
}
.s3__text3{
    color: #6F7278;
    font-size: 18px;
}

.section3__Right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section3__Right a:last-child{
    margin-bottom: 0px;
}
.section3__Right a{
    margin-bottom: 20px;
}
.s3__Cont1{
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 15px;
    align-items: center;
    width: 300px;
    height: 167px;
    margin-left: 20px;
    transition: 500ms;
}
.s3__Cont1:hover{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
    color: #CACCD1;
    transition: 500ms;
}
.s3__kvad{
    height: 48px;
    width: 48px;
    background-color: #45525B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.s3__ContText1{
    font-size: 14px;
    color:#45525B;
}
.s3__ContText2{
    font-size: 14px;
    color: #6F7278;
}
.section3__LeftRightCont{
    display: flex;
    margin-top: 20px;
}



.section4{
    height: 600.3px;
    background: url('../img/Sec4__background.png') center center no-repeat;
}



.section5{
    height: 1204px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFC;
}
.section5__FULL{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.s5__text1{
    color: #FF8A63;
    font-size: 14px;
}
.s5__text2{
    color: #45525B;
    font-size: 36px;
}
.s5__text3{
    color: #6F7278;
    font-size: 18px;
    width: 574px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.section5__PrimaryCont1{
    display: flex;
    margin-bottom: 20px;
}
.section5__PrimaryCont2{
    display: flex;
}
.section5__PrimaryCont1 div:last-child{
    margin-right: 0px;
}
.section5__PrimaryCont2 div:last-child{
    margin-right: 0px;
}
.s5__cont{
    height: 385px;
    width: 379px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    transition: 500ms;
}
.s5__cont:hover{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
    color: #CACCD1;
    transition: 500ms;
}
.s5__cont__img{
    height: 267px;
}
.s5__cont__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s5__cont__secondcontent{
    display: flex;
}
.s5__cont__text1{
    color: #6F7278;
    font-size: 12px;
    margin-top: 15px;
}
.s5__cont__text2{
    color: #45525B;
    font-size: 20px;
    margin-bottom: 10px;
}
.s5__cont__text3{
    color: #45525B;
    font-size: 12px;
}

.s5__cont__secondcontent img{
    margin-right: 10px;
}
.s5__cont__secondcontent p{
    margin-right: 20px;
}
.s5__cont__secondcontent p:last-child{
    margin-right: 0px;
}
.s5__SPECdiv{
    width: 100%;
    display: flex;
    justify-content: center;
}
.s5__SPECtext{
    font-size: 15px;
    color: #45525B;
    margin-right: 10px;
}
.s5__SPECa{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



.section6{
    height: 484.09px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.section6__FULL{
    display: flex;
    align-items: center;
}
.s6__ContLeft{
    display: flex;
    flex-direction: column;
}
.s6__text3{
    width: 368px;
    font-size: 17px;
    color: #6F7278;
}
.s6__text1{
    font-size: 14px;
    color: #FF8A63;
}
.s6__text2{
    font-size: 36px;
    color: #45525B;
}
.s6__text4{
    font-size: 15px;
    color: #45525B;
    margin-right: 10px;
}
.s6__ContLeft a{
    display: flex;
    margin-top: 20px;
}

.s6__ContRight1{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.s6__ContRight2{
    display: flex;
    flex-direction: column;
}
.s6__ContText{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.s6__Cont{
    display: flex;
    align-items: center;
    width: 360px;
    margin-bottom: 20px;
}
.s6__ContRight1 div:last-child{
    margin-bottom: 0px;
}
.s6__ContRight2 div:last-child{
    margin-bottom: 0px;
}
.s6__textINcont1{
    font-size: 16px;
    color: #45525B;
}
.s6__textINcont2{
    color: #6F7278;
    font-size: 12px;
}



.section7{
    height: 688px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFC;
}
.section7__FULL{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s7__text1{
    color: #FF8A63;
    font-size: 14px;
}
.s7__text2{
    color: #45525B;
    font-size: 36px;
}
.section7__DivCont{
    display: flex;
    margin-top: 20px;
}
.section7__DivCont div:last-child{
    margin-right: 0px;
}
.s7__Cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 376px;
    height: 364.31px;
    border-radius: 20px;
    background-color: white;
    transition: 500ms;
    margin-right: 20px;
}
.s7__Cont:hover{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
    color: #CACCD1;
    transition: 500ms;
}

.s7__textINcont1{
    font-size: 12px;
    color: #FF8A63;
    margin-top: 20px;
}
.s7__textINcont2{
    font-size: 16px;
    color: #45525B;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 316px;
}
.s7__textINcont3{
    font-size: 13px;
    color: #6F7278;
}

.s7__SPECtext{
    margin-right: 10px;
    font-size: 15px;
    color: #45525B;
}
.section7__FULL a{
    display: flex;
    margin-top: 20px;
}



.section8{
    height: 399px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #45525B;
}
.section8__FULL{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s8__text1{
    color: white;
    font-size: 14px;
}
.s8__text2{
    color: white;
    font-size: 36px;
}
.s8__text3{
    color: white;
    font-size: 18px;
    width: 574px;
    text-align: center;
    margin-bottom: 20px;
}
.s8__BUTTONS a:first-child{
    margin-right: 20px;
}
.s8__Button1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 44px;
    transition: 500ms;
    border-radius: 10px;
    background-color: white;
}
.s8__Button2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 44px;
    transition: 500ms;
    border-radius: 10px;
    background-color: white;
}
.s8__Button1:hover{
    box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.3);
    transition: 500ms;
}
.s8__Button2:hover{
    box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.3);
    transition: 500ms;
}
.s8__BUTTONS{
    display: flex;
}



.section9{
    height: 563px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292C32;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s9__Cont{
    display: flex;
    flex-direction: column;
    margin-right: 150px;
}
.s9__text1{
    color: #FF8A63;
    font-size: 14px;
    margin-bottom: 10px;
}
.s9__text2{
    color: white;
    font-size: 16px;
}
.s9__Cont a{
    color: white;
    margin-bottom: 10px;
    transition: 500ms;
}
.s9__Cont a:hover{
    color: #FF8A63;
    transition: 500ms;
}
.s9__Cont p:last-child{
    margin-bottom: 0px;
}
footer nav div:last-child{
    margin-right: 0px;
}
footer nav{
    margin-top: 50px;
    display: flex;
}
.s9__SPECtext1{
    font-size: 14px;
    color: #FF8A63;
}
.s9__SPECtext2{
    font-size: 14px;
    color: white;
    width: 450px;
}
.s9__SPECtext2{
    font-size: 16px;
    color: white;
}
.s9__SPECbutton{
    width: 458px;
    height: 53px;
    border-radius: 10px;
    background-color: white;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}
.s9__SPECbutton input{
    font-size: 16px;
    color: #6F7278;
    width: 400px;
    height: 25px;
    background: none;
    border: 1px solid white;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.s9__SPECbutton input::placeholder{
    font-size: 16px;
    color: #6F7278;
}
.s9__button{
    background-color: #3A4443;
    width: 73px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.s9__SPECbutton a{
    margin-bottom: 0px;
}
.ENDimg{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.ENDimg a{
    margin-bottom: 0px;
    margin-right: 10px;
}
.ENDimg a:last-child{
    margin-bottom: 0px;
    margin-right: 0px;
}
.END{
    display: flex;
    width: 1190px;
    margin-top: 20px;
}
.END p{
    color: white;
    font-size: 16px;
}