@font-face {
    font-family: Poppins;
    src: local('Poppins'), url('../fonts/Poppins-Regular.ttf') format("truetype");
    font-weight: 400;
}
body{
    font-family: 'Poppins';
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
    transition: 500ms;
}
a:hover{
 color: red;
 transition: 500ms;
}
header{
    height: 66px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: white;
}
.section1__Full{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
    width: 1440px;
}
.section1__nav2 a{
    font-size: 15px;
    margin-right: 20px;
}
.section1__nav2 a:last-child{
    font-size: 15px;
    margin-right: 0px;
}
.section1__nav1{
    margin-left: 7%;
}
.section1__nav2{
    flex-grow: 1;
    display: flex;
    justify-content: end;
    margin-right: 8%;
}
.section1__CONTENT{
    background: url('../img/Sec1__BG2.png') center center no-repeat;
    width: 1440px;
    height: 797px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section1__CONTENT p{
    color: #45525B;
    font-size: 32px;
}
.section1__img1{
    margin-bottom: 10px;
    margin-top: 250px;
}
.section1__circle{
    height: 64px;
    width: 64px;
    background: none;
    border-radius: 100%;
    border: solid 2px #3A4443;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}



.section2{
    height: 486px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFC;
}
.section2__FULL{
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2__contLeft{
    display: flex;
    flex-direction: column;
    margin-right: 150px;
}
.section2__contRight p{
    width: 561px;
    font-size: 16px;
    color: #333333;
}
.section2__contRight{
    display: flex;
    flex-direction: column;
    width: 561px;
}
.section2__contLeft p:first-child{
    font-size: 14px;
    color: #FF8A63;
}
.section2__contLeft p:last-child{
    color: #45525B;
    font-size: 48px;
}
#section2__SPECtext2{
    font-size: 16px;
    color: #45525B;
}
#section2__SPECtext{
    font-size: 12px;
    color: #6F7278;
}
.section2__cont{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.section2__SPECtext3{
    margin-bottom: 10px;
}
.sectio2__circle{
    margin-right: 10px;
}



.section3{
    height: 931px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3__FULL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
}
.s3__text1{
    font-size: 14px;
    color: #FF8A63;
}
.s3__text2{
    color: #45525B;
    font-size: 36px;
    margin-bottom: 5px;
}
.s3__text3{
    color: #6F7278;
    font-size: 18px;
}

.section3__Right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section3__Right a:last-child{
    margin-bottom: 0px;
}
.section3__Right a{
    margin-bottom: 20px;
}
.s3__Cont1{
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 15px;
    align-items: center;
    width: 300px;
    height: 167px;
    margin-left: 20px;
    transition: 500ms;
}
.s3__Cont1:hover{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
    color: #CACCD1;
    transition: 500ms;
}
.s3__kvad{
    height: 48px;
    width: 48px;
    background-color: #45525B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.s3__ContText1{
    font-size: 14px;
    color:#45525B;
}
.s3__ContText2{
    font-size: 14px;
    color: #6F7278;
}
.section3__LeftRightCont{
    display: flex;
    margin-top: 20px;
}



.section4{
    height: 600.3px;
    background: url('../img/Sec4__background.png') center center no-repeat;
}



.section5{
    height: 1204px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section5__FULL{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
}
.s5__text1{
    color: #FF8A63;
    font-size: 14px;
}
.s5__text2{
    color: #45525B;
    font-size: 36px;
}
.s5__text3{
    color: #6F7278;
    font-size: 18px;
    width: 574px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.section5__PrimaryCont{
    display: flex;
}
.s5__cont{
    height: 385px;
    width: 379px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.s5__cont__img{
    height: 267px;
}
.s5__cont__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s5__cont__secondcontent{
    display: flex;
}